---
layout: blog
permalink: /blog/index.html
blog: true
---

<div class="container">
    <div class="section">
        <div class="mt-2">
            <h3 class="mb-4">Recent posts:</h3>

            <div class="card-deck">
                {% for i in site.posts %}
                {% assign remainder = forloop.index |modulo: 3 %}
                <div class="card">
                    <!-- <img src="https://via.placeholder.com/300x200" alt="{{i.title}}" class="card-img-top" /> -->

                    <div class="card-body">
                        <a href="{{'i.url'|relative_url}}">
                            <h4 class="card-title">{{i.title}}</h4>
                            <div class="fadeout">
                                <p class="card-text">{{i.excerpt |truncate: 250}}</p>
                            </div>
                        </a>
                        <p>
                            {% for j in i.tags %}
                            <span class="post-preview-tag">{{j}}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{i.date|date: "%B %e, %Y"}}</small>
                    </div>
                </div>
                {% if remainder == 0 %}
            </div>
            <div class="card-deck mt-5">
                {% endif %}

                {% if forloop.last == true %}

                {% case remainder %}
                {% when 1 %}
                <div class="card placeholder-card"></div>
                <div class="card placeholder-card"></div>
                {% when 2 %}
                <div class="card placeholder-card"></div>
                {% endcase %}

                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
</div>