---
layout: base
---
{% assign data = site.data.german %}

<div class="section" id="home">
    <div id="header-image">
        <img src="/assets/img/header.jpg" alt="{{site.title}}" />
    </div>
    <div class="container">
        <h1 class="mt-4"><strong><span style="font-size: 190%">SIMON WALTER</span></strong><br />
            DIGITAL BUSINESS CONSULTING</h1>
        <div class="typed">
            <h4 class="my-3">{{data.home.typed.start}}<span class="self"></span></h4>
        </div>
        <div class="row mt-4">
            <div class="col-md-9">
                <p>{{data.home.boilerplate}}</p>
            </div>
        </div>
        <a href="#profile" class="smooth-scroll mt-3">> {{data.general.continue}}</a>
    </div>
</div>

<div class="container section" id="profile">
    <h2>{{data.profile.heading}}</h2>
    <p>{{data.profile.p}}</p>
    <a href="#services" class="smooth-scroll mt-3">> {{data.general.continue}}</a>
</div>

<div class="container section" id="services">
    <h2>{{data.services.heading}}</h2>
    {% for i in data.services.items %}
    <div class="row">
        <div class="col-md-9">
            <h4 class="mt-5">{{i.name}}</h4>
            <p>{{i.description}}</p>
        </div>

    </div>
    {% endfor %}
    <a href="#contact" class="smooth-scroll mt-3">> Weiter</a>
</div>

<div class="container section" id="contact">
    <h2>{{data.contact.heading}}</h2>
    <p>{{data.contact.p}}</p>
    {% for i in data.contact.items %}
    <p><a href="{{i.type}}:{{i.link}}" {% if i.type == "https" %} target="_blank" rel="noopener"
            {% endif %}>{{i.name}}</a></p>
    {% endfor %}
</div>