{% case page.lang %}
{% when "de" %}
{% assign data = site.data.german.data_protection %}
{% when "en" %}
{% assign data = site.data.english.data_protection %}
{% endcase %}

<div class="modal" id="dataModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{data.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body p-4" id="result">
                {% for i in data.sections %}
                <h3 class="mt-4">{{i.h}}</h3>
                {% for j in i.subsections %}
                <h4 class="mt-3">{{j.h}}</h4>
                {% for k in j.p %}
                <p>{{k}}</p>
                {% endfor %}
                {% endfor %}
                {% endfor %}
                <p class="mt-4">{{data.source}}: <a href="https://www.e-recht24.de">eRecht24</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>