{% assign data = site.data.german %}

<div class="container-fluid footer-container">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4">
                <p class="thicker">Simon Walter <br />
                    Digital Business Consulting <br />
            </div>
            <div class="col-md-4">
                <a href="tel:00491781696739">+49&nbsp;178&nbsp;1696739</a><br />
                <a href="mailto:hello@wltr.co">hello@wltr.co</a></p>
            </div>
            <div class="col-md-4">
                <a href="#imprintModal" data-toggle="modal">{{data.footer.imprint}}</a><br />
                <a href="#dataModal" data-toggle="modal">{{data.footer.privacy}}</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/typed.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script type="text/javascript" src="assets/js/myscript.js"></script>

<script>
    var typed = new Typed("#self", {
        stringsElement: '#typed-strings',
        typeSpeed: 40,
        startDelay: 750,
        loop: true,
        backSpeed: 20,
        backDelay: 750,
    });
</script>