{% case page.lang %}
{% when "de" %}
{% assign data = site.data.german %}
{% when "en" %}
{% assign data = site.data.english %}
{% else %}
{% assign data = site.data.english %}
{% endcase %}

<div class="container-fluid footer-container">
    <div class="container py-5">
        <a href="#imprintModal" data-toggle="modal">{{data.imprint.title}}</a><br />
        <a href="#dataModal" data-toggle="modal">{{data.data_protection.title}}</a>
    </div>
</div>
</div>

<script type="text/javascript" src="{{'/assets/js/jquery-3.4.1.min.js' | relative_url}}"></script>
<script type="text/javascript" src="{{'/assets/js/bootstrap.min.js' | relative_url}}" async></script>
<script type="text/javascript" src="{{'/assets/js/typed.js' | relative_url}}"></script>
<script type="text/javascript" src="{{'/assets/js/myscript.js' | relative_url}}" async></script>

<script>
    var typed = new Typed("#self", {
        stringsElement: '#typed-strings',
        typeSpeed: 40,
        startDelay: 750,
        loop: true,
        backSpeed: 20,
        backDelay: 750,
    });
</script>