{% case page.lang %}
{% when "de" %}
{% assign lang = site.data.german %}
{% when "en" %}
{% assign lang = site.data.english %}
{% endcase %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/icon/apple-touch-icon.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/icon/favicon-32x32.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/icon/favicon-16x16.png' | relative_url}}">
    <link rel="manifest" href="{{'/site.webmanifest' | relative_url}}">
    <link rel="mask-icon" href="{{'/assets/icon/safari-pinned-tab.svg' | relative_url}}" color="#ffffff">

    <link rel="stylesheet" href="{{'/assets/css/bootstrap.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/assets/css/mystyle.css' | relative_url}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{lang.home.boilerplate}}">

</head>