{% case page.lang %}
{% when "de" %}
{% assign lang = site.data.german %}
{% assign langlink = "en" %}
{% when "en" %}
{% assign lang = site.data.english %}
{% assign langlink = "de" %}
{% endcase %}

<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#">
        <img class="my-navbar-img" src="{{'/assets/img/logo-black.png' | relative_url }}" alt="{{site.title}}">
    </a>

    <button class="navbar-toggler hamburger hamburger--spring d-md-none" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-2">
            {% for i in lang.general.menu %}
            <li class="nav-item{% if forloop.first %} active{% endif %} underline ml-2">
                <a class="nav-link smooth-scroll" href="#{{i.id}}">{{i.name}}</a>
            </li>
            {% endfor %}
            <li class="d-none d-md-block nav-item dropdown ml-5">
                <a class="nav-link dropdown-toggle mt-3" href="{{'/' | relative_url}}{{page.lang}}" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    aria-label="Language Button">
                    <img src="{{'/assets/img/' | relative_url }}{{page.lang}}.png" alt="Language {{page.lang}}"
                        style="max-height: 16px" />
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item ml-1" href="{{'/' | relative_url }}{{langlink}}"><img
                            src="{{'/assets/img/' | relative_url }}{{langlink}}.png" alt="Language {{langlink}}"
                            style="max-height: 16px" /></a>
                </div>
            </li>
        </ul>
        <div class="d-md-none ml-2 my-3">
            <p><strong>Languages:</strong>
                <a class="ml-2" href="{{'/' | relative_url }}{{page.lang}}"><img
                        src="{{'/assets/img/' | relative_url }}{{page.lang}}.png" alt="Language {{page.lang}}"
                        style="max-height: 16px" />
                </a>
                <a class="ml-2" href="{{'/' | relative_url }}{{langlink}}"><img
                        src="{{'/assets/img/' | relative_url }}{{langlink}}.png" alt="Language {{langlink}}"
                        style="max-height: 16px" />
                </a>
            </p>
        </div>

    </div>

</nav>

<div class='scrolltop'>
    <div class='scroll icon'>{{ lang.general.up }}</div>
</div>