{% assign data = site.data.german %}

<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#">
        <img class="my-navbar-img" src="/assets/img/logo-black.png" alt="{{site.title}}">
    </a>

    <button class="navbar-toggler hamburger hamburger--spring d-md-none" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% for i in data.general.menu %}
            <li class="nav-item{% if forloop.first %} active{% endif %}">
                <a class="nav-link smooth-scroll" href="#{{i.id}}">{{i.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</nav>

<div class='scrolltop'>
    <div class='scroll icon'>{{ data.general.up }}</div>
</div>