
* {
  font-family: 'Roboto', Helvetica, sans-serif
}

h1,h2,h3,h4 {
  font-weight: bold;
}

h2 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.divider {
  background: linear-gradient(90deg, rgba(71,145,144,1) 0%, rgba(50,130,153,1) 66%, rgba(10,50,75,1) 100%);
  padding: 1rem;
}

.headline {
  font-size: 200%;
}

@media only screen and (max-width: 768px) {
  .headline {font-size: 150%}
}

p {
  font-weight: 400;
}

a,.thicker,.scrolltop {
  font-weight: 500;
}

.main a {
  border-bottom: 2px dotted black;
  color: black;
  padding-bottom: 2px;
}

.main a:hover {
  border-color: #333333;
  color: #333333;
  text-decoration: none;
}

/* Navbar styles */

.navbar {
    background-color: #fff;
    /* -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4); */
    padding: 0;
}

.navbar li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 15px 5px;
    position: relative;
}
.navbar li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }

.navbar li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.navbar li a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.my-navbar-img {
    width: 80px;
    height: 80px;
   }

.hamburger-icon {
    display: block;
    border-bottom: 12px double #000000; 
    border-top: 4px solid #000000; 
    content: "";
    height: 5px;
    width: 24px;
  }
  
/* container styles */

.section {
    padding-top: 90px;
    min-height: 100vh;
}

#contact {
  min-height: 90vh;
}
/* Scroll top */

.scrolltop {
	display:none;
	width:100%;
	position:fixed;
	bottom:20px;
  right:10px;
  background-color: white;
  z-index: 999;
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:rgba(225,225,225);
	padding:10px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
  -o-transition: 0.5s; 
  z-index: 1000;		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #000; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

      /*
   * Spring
   */
.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; }
.hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important; }
.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/* Footer styles */

.footer-container {
    min-height: 100px;
    background-color: #888888;
}

.footer-container a {
    color: #000;
    text-decoration: none;
    padding-top: 10px;
}

/* full screen modal */

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

#header-image {
 width: 100%; 
 max-height: 35vh; 
 overflow: hidden
}

#header-image img {
  width: 100%;
} 

@media only screen and (max-width: 768px) {
  .typed {min-height: 6rem}
}

@media only screen and (max-width: 960px) {
  .typed {min-height: 4rem}
}

.profile li {
  font-size: 120%;
  margin-top: 2rem;

}