<!DOCTYPE html>
<html lang="{{page.lang}}">
{% include head.html %}

<link rel="stylesheet" href="{{'/assets/css/syntax-highlight.css'|relative_url}}">

<body>

    {% include navbar.html %}

    <div class="main blog-post">
        <div class="" style="height: 100px"></div>
        <div class="container section">
            <h1 class="mb-5">{{page.title}} {{page.subtitle}}</h1>
            {{ content }}
        </div>
        <div class="container page-navigation">
            <div class="row">
                {% if page.previous.url %}
                <div class="col-sm-6">
                    <a class="prev" href="{{page.previous.url}}">&larr;Previous: {{page.previous.title}}</a>
                </div>
                {% endif %}
                <div class="col-sm-6">
                    {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">Next: {{page.next.title}}&rarr;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row mt-5">
            <div id="portrait" class="col-md-8 mountain-bg">
                <div class="p-5 text-center">
                    <div class="portrait-inner">
                        <img src="{{'/assets/img/simon_portrait.jpg' | relative_url}}" alt="Simon Walter"
                            class="rounded-circle" />
                        <p class="my-1">Simon Walter</p>
                        <p id="summary" class="mt-5">{{site.data.english.blog.desc}}</p>
                        <p>Reach out to <a
                                href="mailto:{{site.data.english.blog.contact}}">{{site.data.english.blog.contact}}</a>
                        </p>
                    </div>
                </div>

            </div>
            <div id="similar" class="col-md-4">
                <div class="p-5">
                    <h3 class="mb-3">Related posts:</h3>
                    {% assign counter = 0 %}
                    {% for i in site.posts %}
                    {% if i.tags contains page.tags[0] %}
                    <p><a href="{{i.url}}" alt="{{i.title}}">{{i.title}}</a></p>
                    {% assign counter = counter | plus: 1 %}
                    {% endif %}
                    {% if counter >= 5 %}
                    {% break %}
                    {% endif %}
                    {% endfor %}
                    {% if counter == 0 %}
                    {% for i in site.posts limit: 5 %}
                    <p><a href="{{i.url}}" alt="{{i.title}}">{{i.title}}</a></p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    {% include footer.html margin=false %}

    {% include imprint.html %}
    {% include data_protection.html %}

</body>

</html>